* {
	margin: 0;
	padding: 0;
}

body {
	color: #fff;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	background-image: url("../public/assets/f0c.jpg");
	background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.application {
	display: flex;
	height: 100vh;
	width: 100vw;
}

.quote-box {
	max-width: 400px;
	line-height: 2.5em;
	text-align: justify;
	margin: 40px 10px 0;
	background-color:rgba(0, 0, 0, 0.6);
	padding: 10px;
	border-radius: 20px;
}

.quote-box > blockquote {
	font-size: 2em;
}

.quote-box > h2 {
	background: #000;
	border-radius: 30px;
}
